<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background: url('{% static 'back.jpg' %}') no-repeat center center fixed;">
<div class="container-fluid">
    <div class="row">
        <div class="col-2" align="center">
            <div class="div1">
                <Img class="photo" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                <p>{{ user.first_name }} {{ user.last_name }}
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action list-group-item-primary" id="list-home-list" data-bs-toggle="list"
                       href="{% url 'my_memories' %}" role="tab" aria-controls="list-home">Мои воспоминания</a>
                    <a class="list-group-item list-group-item-action list-group-item-success" id="list-profile-list" data-bs-toggle="list"
                       href="{% url 'create_memory' %}" role="tab" aria-controls="list-profile">Создать воспоминание</a>
                    <a class="list-group-item list-group-item-action list-group-item-danger" id="list-messages-list" data-bs-toggle="list"
                       href="{% url 'logoutuser' %}" role="tab" aria-controls="list-messages">Выйти из аккаунта</a>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-6">
            <div class="div1">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>