<!DOCTYPE html>
{% extends "places_remember/base.html" %}
{% block content %}

<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=&lang=ru_RU" type="text/javascript">
    </script>
    <script src="{% static 'js/script.js' %}" type="text/javascript">
    </script>
</head>

<body>
<div class="map" id="map"></div>
<div class="div2">
    <form method="POST" action="">{% csrf_token %}
        {{ form.coords }}
        Название места
        {{ form.title }}
        Описание места
        {{ form.discription }}
        <button class="btn btn-success btn-lg" type="submit" id="button-addon2">
            {% if memory %}
            Сохранить воспоминание
            {% else %}
            Создать воспоминание
            {% endif %}
        </button>
    </form>
    {% if memory %}
    <form method="POST" action="{% url 'delete' memory.pk %}">{% csrf_token %}
        <button class="btn btn-danger btn-lg" type="submit" value="Delete">Удалить воспоминание</button>
    </form>
</div>
{% endif %}


{% endblock %}
</body>


</html>